@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Fredoka+One&family=Noto+Sans+Ethiopic&family=Ultra&display=swap');
/* Universal Styling */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General Styling */
body{
    background-image: linear-gradient(to bottom, #3C4048, #425F57);
    background-repeat: no-repeat;
}
section {
    height: 94.7vh;
    display: flex;
    align-items: center;
    justify-content: center
}
/* Div of section */
.calc {
    display: grid;
    justify-content: center;
    width: 30%;
    margin:auto;
    background-color: #ffffff0c;
    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 30px;
}
.calc h2 {
    color: beige;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
/* Input value */
.displays {
    font-size: 25px;
    text-align: end;
    padding-right: 5px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
    border: none;
}
/* buttons */
button {
    border: none;
}
button:hover {
    background-color: #ffffff0c;
    transition: 0.3s;
}
.display {
    display: flex;
    gap: 15px;
}
.display .displays {
    color: black;
    background-color: aliceblue;
    height: 3rem;
    width: 13rem;
    border-radius: 10px;
}
.display .clear {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no1 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no1 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no2 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no2 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no3 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no3 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no4 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no4 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no4 button:nth-child(2){
    background-color: #ffffff0c;
    border: 3px solid aliceblue;
}
.no4 button:nth-child(2):hover{
    background-color: aliceblue;
}
.equals {
    padding-top: 10px;
}
.equal {
    width: 17.8rem;
    height: 3rem;
    border-color: #B2B2B2;
    border-radius: 10px;
}
.operator {
    background-color: #ffffff0c;
    border: 3px solid aliceblue;
}
.operator:hover {
    background-color: aliceblue;
}
.display .clear:hover {
    background-color: #ffffff0c;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
    color: aliceblue;
}

/* Media Query for 325px */
@media screen and (max-width: 325px) {
    /* General Styling */
    body {
        height: 100vh;
    }
    /* Div of section */
    .calc {
        background-color: #ffffff00;
        border-radius: 30px;
        padding-top: 0%;
    }
    .display .displays {
        height: 2.5rem;
        width: 9.4rem;
        border-radius: 10px;
    }
    .display .clear {
        height: 2.5rem;
        width: 2.7rem;
        border-color: #B2B2B2;
        border-radius: 10px;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Fredoka One', cursive;
    }
    .no1 button {
        height: 2rem;
        width: 2.7rem;
    }
    .no2 button {
        height: 2rem;
        width: 2.7rem;
    }
    .no3 button {
        height: 2rem;
        width: 2.7rem;
    }
    .no4 button {
        height: 2rem;
        width: 2.7rem;
    }
    .equal {
        width: 12.8rem;
        height: 2rem;
    }

    /* Footer */
    footer {
        width: 100%;
        margin-top: -7%;
    }
    footer p {
        font-size: 0.8rem;
        padding-left: 35px;
    }    
}

/* Media Query for 720px */
@media screen and (min-width: 325px) and (max-width: 720px) {
    /* General Styling */
    body {
        height: 100vh;
    }
    /* Div of section */
    .calc {
        background-color: transparent;
    }
    .calc h2 {
        font-size: 30px;
    }
    .display .displays {
        height: 3rem;
        width: 11.7rem;
        border-radius: 10px;
    }
    .display .clear {
        height: 3rem;
        width: 3.5rem;
        border-color: #B2B2B2;
        border-radius: 10px;
        font-family: 'Abril Fatface', cursive;
        font-family: 'Fredoka One', cursive;
    }
    .no1 button {
        height: 3rem;
        width: 3.5rem;
    }
    .no2 button {
        height: 3rem;
        width: 3.5rem;
    }
    .no3 button {
        height: 3rem;
        width: 3.5rem;
    }
    .no4 button {
        height: 3rem;
        width: 3.5rem;
    }
    .equal {
        width: 15.8rem;
        height: 3rem;
    }

    /* Footer */
    footer {
        width: 100%;
    }
    footer p {
        font-size: 1.2rem;
    }    
}