@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caveat&family=Fredoka+One&family=Noto+Sans+Ethiopic&family=Ultra&display=swap');
/* Universal Styling */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General Styling */
body{
    background-image: linear-gradient(to bottom, #3C4048, #425F57);
    background-repeat: no-repeat;
    height: 100vh;
}
/* Div of section */
.calc {
    display: grid;
    justify-content: center;
    padding-top: 12%;
    width: 35%;
    margin:auto;
}
.calc h2 {
    color: beige;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
/* buttons */
button:hover {
    background-color: grey;
    transition: 0.3s;
}
.display {
    display: flex;
    gap: 15px;
}
.display .displays {
    height: 3rem;
    width: 13rem;
    border-radius: 10px;
}
.display .clear {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no1 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no1 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no2 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no2 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no3 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no3 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.no4 {
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.no4 button {
    height: 3rem;
    width: 4rem;
    border-color: #B2B2B2;
    border-radius: 10px;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Fredoka One', cursive;
}
.equals {
    padding-top: 10px;
}
.equal {
    width: 17.8rem;
    height: 3rem;
    border-color: #B2B2B2;
    border-radius: 10px;
}